body .img {
    position: absolute;
}
}

* {
    margin:0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family:"Poppins", sans-serif;
    font-size:100%;
}

h1 {
    font-size: 3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.container{
    max-width: 100%;
    max-height: 100vh;

    background: #ffffff;
}

.text-contet {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 5rem; 
}


.text-contet h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    font-size: 40px;

}

text-content img {
    max-width: 100%;
}


.text-contet img {
    max-width: 100%;
}

.box-calculo {
    max-width: 500px;
    padding: 20px;
    float: right;
    position:absolute;
    
    
    


}

.box-calculo {
    
    border-radius: 4rem 0 0 0rem;
    display:flex;
    align-items: center;
    flex-direction: column;
    position: absolute ;
    width: 500px;
    top:300px;
}

.form {
    margin-top: 2rem;
    width:90%;
}


.box-calculo label { 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.box-calculo { 
    width:100%;
    height: 5.6rem;
    
}
.image {
    position:relative;
}
input{
    display: block;
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 10px; 
    border-radius: 5px;
    border-bottom-color:rgb(71, 2, 2);
}

.input.block {
    margin-bottom: 15px;
    
}

button {
    color: white;
    background-color: red;
    display:block;
    width:100%;
    padding:5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-bottom-color: black;
    font-size:20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.grid {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: 2rem;
}

/* css do resultado no js*/


h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: red;
    font-size: x-large;
}
.result-block {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    
}